.navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    z-index: 999;
    width: 100%;
    padding-top: 60px;
 
    transition: all 0.5s ease-in-out;

  }
  
  .navbar-collapse.show {
    right: 0;
  }
  